Horizontal {
    align: center middle;
    height: auto;
}

DataTable {
    padding: 1;
    height: 1fr;
    width: 1fr;
}

DataTable#doing_tasks {
    border: round $success;
}

DataTable#done_tasks {
    border: round $warning;
}
