Horizontal {
    align: center middle;
    height: auto;
}

RadioSet {
    padding: 1;
    height: 1fr;
    width: 1fr;
}

RadioSet#doing_tasks {
    border: round $success;
}

RadioSet#done_tasks {
    border: round $warning;
}

